
.btn {
    width: 250px;
    height: 56px;
    padding: 0px 24px;
    border-radius: 8px;
    background: #8B0B06;
    margin-top: 64px;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    border: none;
    cursor:pointer;
}
.catalog-btn {
    width: 170px;
}
.feedback_form-btn {
    margin-top: 48px;
    width: 312px
}