.catalog {
    background: url('../img/catalog-bg.png') center (center/cover) no-repeat;
    padding: 120px 0 120px 0;
    height: 1036px;
    &_wrapper {
        margin-top: 72px;
        display: flex;
        justify-content: space-between;
        &_item {
            border: 1px solid #B0B0B0;
            border-radius: 10px;
            padding-bottom: 32px;
            &_content {
                margin: 24px 0 24px 24px;  
                &_title {
                    color: #111;
                    font-size: 24px;
                    font-weight: 600;
                    line-height: normal;
                }
                &_descr {
                    margin-top: 8px;
                    color: #111;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                   li {
                    list-style-type: none;
                   }
                }
            }
        }
    }
}